@model Milestone_Project.Models.GameLogic.Board

<style>
    .game-button-image {
        width: 100px;
        height: 100px;
        display: block;
        float: left;
    }

    .game-button {
        width: 90px;
        height: 90px;
        display: block;
        float: left;
    }

    .bttn-zone {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        float: left;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .bttn-label {
        font-size: 8px;
        text-align: center;
    }
    @*.game-button-image {
        align-content: center;
        float: left;
        width: 90px;
    }*@

    @*.game-button {
        width: 100px;
        height: 100px;
        float: left;
        padding: 2px;
        display: inline-flex;
        flex-wrap: wrap;
    }*@

    @*.button-zone {
        align-content: center;
        display: grid;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }*@

    @*.line-break {
        flex-basis: 100%;
        height: 0;
    }*@
</style>

@for (int i = 0; i < Model.Size; i++)
{
     
    @for (int j = 0; j < Model.Size; j++)
    {
        <form>
            <div class="button-zone">
                @if (Model.Grid[i, j].Visited)
                {

                    if (Model.Grid[i, j].Live)
                    {
                        <button class="game-button-image" type="submit" value="@i,@j"
                                name="coords" asp-controller="Minesweeper" asp-action="HandleButtonClick">

                            <img class="game-button" src="~/Pictures/purpleBomb.png" />
                        </button>
                    }
                    else
                    {
                        <button class="game-button-image" type="submit" value="@i,@j"
                                name="coords" asp-controller="Minesweeper" asp-action="HandleButtonClick">

                            <img class="game-button" src="~/Pictures/purpleGrassBlock.jpg" />
                        </button>
                    }
                }
                else
                {
                    <button class="game-button-image" type="submit" value="@i,@j"
                            name="coords" asp-controller="Minesweeper" asp-action="HandleButtonClick">

                        <img class="game-button" src="~/Pictures/grassBlock.png" />
                    </button>
                }
            </div>
        </form>
    }
    <p>
    </p>
}
