@model Milestone_Project.Models.GameLogic.Board

<style>
    .game-button-image {
        width: 50px;
        height: 50px;
        display: block;
        float: left;
        background-position: left top;
        background-size: contain;
        border: 1px solid black;
    }

    .bttn-zone {
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        align-self: center;
        margin: auto;
        padding: 20px;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .bttn-label {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        margin: auto;
        padding: 17px;
        color: white;
    }
</style>

<div class="bttn-zone">
        @for (int i = 0; i < Model.Size; i++)
        {

            @for (int j = 0; j < Model.Size; j++)
            {
                <form>
                    @if (Model.Grid[i, j].Visited)
                    {

                        if (Model.Grid[i, j].Live)
                        {
                            <button class="game-button-image" type="submit" value="@i,@j"
                                    name="coords" style="background-image: url('/Pictures/TNT.png');" 
                                    asp-controller="Minesweeper" asp-action="HandleButtonClick">
                            </button>
                        }
                        else
                        {
                            <asp:button class="game-button-image" type="submit" value="@i,@j"
                                        name="coords" style="background-image: url('/Pictures/Dirt.png');"
                                        asp-controller="Minesweeper" asp-action="HandleButtonClick">
                                @*if(Model.Grid[i,j].LiveNeighbor != 0)
                                {
                                    <b class="bttn-label">@Model.Grid[i, j].LiveNeighbor</b>
                                }*@
                                <b class="bttn-label">@Model.Grid[i, j].LiveNeighbor</b>
                            </asp:button>
                        }
                    }
                    else
                    {
                        <button class="game-button-image" type="submit" value="@i,@j"
                                name="coords" style="background-image: url('/Pictures/grassBlock.png');" 
                                asp-controller="Minesweeper" asp-action="HandleButtonClick">
                        </button>
                    }
                </form>
            }
            <div class="line-break"></div>
        }

</div>
