
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<div>
    <form>
        Username: <input type="text" id="Username" /><br />
        Password: <input type="text" id="Password" /><br />
        <button type="submit" id="Login">Login</button>
    </form>
</div>