
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Register</h1>

<div>
    <form>
        Name: <input type="text" id="Name" /><br />
        Username: <input type="text" id="Username" /><br />
        Password: <input type="text" id="Password" /><br />
        <button type="submit" id="Register">Register</button>
    </form>
</div>